body {
    text-align: center;
    background-color: #e4d3afda
}

.header {
    color: rgb(228, 75, 15);
    font-size: 50px;
    margin-top: 10px;
}

table {
    margin: auto;
    margin-top: 20px;
}

table td {
    border: solid 1px;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: 3px outset rgb(163, 162, 162);
}

table :hover {
    background-color: rgb(156, 151, 151);
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

}

.timer {
    width: 45%;
    margin: auto;
    margin-left: 46%;
    text-align: center;
    font-size: 20px;
}

.lives {
    width: 45%;
    height: 40px;
    margin: auto;
    margin-left: 46%;
    float: right;
}

.txtLives {
    text-align: center;
    margin-top: 0%;
}

.restartBtn {
    font-size: 50px;
    padding-top: 5px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.emojy {
    margin: 15px;
}

.txtLives {
    background-color: cadetblue;
    width: 20%;
}

.txtLives span {
    color: rgb(201, 21, 15);
    ;
}

.gameOverMsg {
    display: none;
    color: rgb(201, 21, 15);
    font-size: large;
}

.btn {
    height: 27px;
    width: 90px;
    font-family: fantasy;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: rgb(53, 24, 19);
    color: rgb(228, 75, 15);
    transition-duration: 0.4s;
}